@model GraduationWebApp.Models.Groups

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удаление группы</h1>

<h3>Вы действительно хотите удалить эту запись?</h3>
<div>
    <h4>Groups</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Model.StartDate.ToString("dd.MM.yyyy")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Model.EndDate.ToString("dd.MM.yyyy")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeaderId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeaderId)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="GroupId" />
        <input type="submit" value="Удалить" class="btn btn-danger mt-1" /> |
        <a asp-action="Index" class="btn btn-secondary mt-1">Назад к списку</a>
    </form>
</div>
