@model GraduationWebApp.Models.Groups

@{
    ViewData["Title"] = "Подробнее";
}

<h1>Детали группы</h1>

<div>
    <h4>Groups</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Model.StartDate.ToString("dd.MM.yyyy")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Model.EndDate.ToString("dd.MM.yyyy")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeaderId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeaderId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GroupId" class="btn btn-primary mt-1">Изменить</a> |
    <a asp-action="Index" class="btn btn-secondary mt-1">Назад к списку</a>
</div>
