@model GraduationWebApp.Models.Sessions

@{
    ViewData["Title"] = "Детали сессии";
}

<h1>Детали сессии</h1>

<div>
    <h4>Сессия</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Группа
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.Name)
        </dd>
        <dt class="col-sm-2">
            Дата сессии
        </dt>
        <dd class="col-sm-10">
            @Model.SessionDate.ToString("dd.MM.yyyy")
        </dd>
        <dt class="col-sm-2">
            Время начала
        </dt>
        <dd class="col-sm-10">
            @Model.StartTime.ToString(@"hh\:mm")
        </dd>
        <dt class="col-sm-2">
            Время окончания
        </dt>
        <dd class="col-sm-10">
            @Model.EndTime.ToString(@"hh\:mm")
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SessionId" class="btn btn-dark">Изменить</a>
    <a asp-action="Index" class="btn btn-dark">Назад к списку</a>
</div>
